* {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
}

.navigation {
    flex-basis: 20%;
    min-width: 300px;
    padding: 40px;
}

h2 {
    margin-bottom: 30px;
    color: rgb(19, 64, 75);
}

.save {
    width: 90%;
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    margin: 20px 0;
    border: none;
    color: #fff;
}
