/* videoListItem.css */

.video-item {
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    list-style: none;
    box-sizing: border-box;
    margin: 1.5%;
    border: 1px solid #eee;
    box-shadow: 0 10px 28px -7px rgba(0, 0, 0, 0.1);
}

.video-item:hover {
    position: relative;
}

.video-item img {
    width: 100%;
    cursor: pointer;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;
    text-decoration: none;
}

.video-preview {
    position: relative;
}

.video-preview img {
    display: block;
}

.video-preview .play-button {
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6) url("http://wptf.com/wp-content/uploads/2014/05/play-button.png") no-repeat scroll center center / 70px 70px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.video-preview:hover .play-button {
    opacity: 1;
     -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }

.video-description {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.video-description h2 {
    color: #555;
    font-weight: bold;
    margin-bottom: 20px;
}

.video-details {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.video-details span {
    color: #555;
    font-size: 0.8rem;
    font-weight: bold;
}

.video-channel,
.video-date {
    display: flex;
    flex-direction: column;
}

.video-channel .title,
.video-date .title {
    color: #aaa;
    margin-bottom: 5px;
    font-size: 0.65rem;
    font-weight: normal;
}

.video-date {
    align-items: flex-end;
}
